# Tests techniques - Affluences

In [50]:
import pandas as pd

In [51]:
data = pd.read_csv("data/data.csv")
data.head()

   sensor_identifier sensor_name  site_id last_record_datetime
0                  3    sensor_3      388  2019-01-30 13:55:00
1                  4    sensor_4      389  2019-01-30 14:00:00
2                  7    sensor_7     1784  2021-03-25 06:11:00
3                  8    sensor_8     1784  2021-05-05 15:17:00
4                  9    sensor_9      443  2021-05-05 15:15:00

In [52]:
tt = pd.read_csv("data/timetables.csv")
tt.head()

   site_id     opening_datetime     closing_datetime
0      107  2021-05-06 10:00:00  2021-05-06 18:00:00
1      132  2021-05-06 07:00:00  2021-05-06 19:00:00
2      233  2021-05-06 00:00:00  2021-05-06 23:55:00
3      235  2021-05-06 00:00:00  2021-05-06 23:55:00
4      272  2021-05-06 08:30:00  2021-05-06 18:00:00

In [53]:
df = pd.merge(left=data, right=tt, left_on='site_id', right_on='site_id')
df.head()

,sensor_identifier,sensor_name,site_id,last_record_datetime,opening_datetime,closing_datetime
0,3,sensor_3,388,2019-01-30 13:55:00,2021-05-06 00:00:00,2021-05-06 23:55:00
1,4,sensor_4,389,2019-01-30 14:00:00,2021-05-06 11:00:00,2021-05-06 18:00:00
2,7,sensor_7,1784,2021-03-25 06:11:00,NaN,NaN
3,8,sensor_8,1784,2021-05-05 15:17:00,NaN,NaN
4,9,sensor_9,443,2021-05-05 15:15:00,2021-05-06 00:00:00,2021-05-06 23:55:00

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209 entries, 0 to 208
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   sensor_identifier     209 non-null    int64
 1   sensor_name           209 non-null    object
 2   site_id               209 non-null    int64
 3   last_record_datetime  209 non-null    object
 4   opening_datetime      183 non-null    object
 5   closing_datetime      183 non-null    object
dtypes: int64(2), object(4)
memory usage: 11.4+ KB

In [55]:
df["last_record_datetime"] = pd.to_datetime(df["last_record_datetime"])
df["opening_datetime"] = pd.to_datetime(df["opening_datetime"], errors="coerce")
df["closing_datetime"] = pd.to_datetime(df["closing_datetime"], errors="coerce")
df.head()

,sensor_identifier,sensor_name,site_id,last_record_datetime,opening_datetime,closing_datetime
0,3,sensor_3,388,2019-01-30 13:55:00,2021-05-06 00:00:00,2021-05-06 23:55:00
1,4,sensor_4,389,2019-01-30 14:00:00,2021-05-06 11:00:00,2021-05-06 18:00:00
2,7,sensor_7,1784,2021-03-25 06:11:00,NaT,NaT
3,8,sensor_8,1784,2021-05-05 15:17:00,NaT,NaT
4,9,sensor_9,443,2021-05-05 15:15:00,2021-05-06 00:00:00,2021-05-06 23:55:00

In [56]:
df["datetime_now"] = pd.to_datetime('2021-05-06 15:00:00')
df["diff"] = (df["datetime_now"]- df["last_record_datetime"]) / pd.Timedelta(hours=1)
df.head()

,sensor_identifier,sensor_name,site_id,last_record_datetime,opening_datetime,closing_datetime,datetime_now,diff
0,3,sensor_3,388,2019-01-30 13:55:00,2021-05-06 00:00:00,2021-05-06 23:55:00,2021-05-06 15:00:00,19849.083333
1,4,sensor_4,389,2019-01-30 14:00:00,2021-05-06 11:00:00,2021-05-06 18:00:00,2021-05-06 15:00:00,19849.000000
2,7,sensor_7,1784,2021-03-25 06:11:00,NaT,NaT,2021-05-06 15:00:00,1016.816667
3,8,sensor_8,1784,2021-05-05 15:17:00,NaT,NaT,2021-05-06 15:00:00,23.716667
4,9,sensor_9,443,2021-05-05 15:15:00,2021-05-06 00:00:00,2021-05-06 23:55:00,2021-05-06 15:00:00,23.750000

In [57]:
opened = df[((df["opening_datetime"] <= df["datetime_now"]) & (df["closing_datetime"] >= df["datetime_now"]))]
alert = opened[opened["diff"] > 2].copy()
alert["level"] = alert["diff"].apply((lambda x: 3 if x > 48 else (2 if x > 24 else 1)))

cleaned = alert[["sensor_identifier", "sensor_name", "datetime_now", "last_record_datetime", "level"]]
cleaned.head()

,sensor_identifier,sensor_name,datetime_now,last_record_datetime,level
0,3,sensor_3,2021-05-06 15:00:00,2019-01-30 13:55:00,3
1,4,sensor_4,2021-05-06 15:00:00,2019-01-30 14:00:00,3
4,9,sensor_9,2021-05-06 15:00:00,2021-05-05 15:15:00,1
5,10,sensor_10,2021-05-06 15:00:00,2021-05-05 15:15:00,1
6,142,sensor_142,2021-05-06 15:00:00,2021-05-05 15:15:00,1

In [58]:
cleaned.head()

,sensor_identifier,sensor_name,datetime_now,last_record_datetime,level
0,3,sensor_3,2021-05-06 15:00:00,2019-01-30 13:55:00,3
1,4,sensor_4,2021-05-06 15:00:00,2019-01-30 14:00:00,3
4,9,sensor_9,2021-05-06 15:00:00,2021-05-05 15:15:00,1
5,10,sensor_10,2021-05-06 15:00:00,2021-05-05 15:15:00,1
6,142,sensor_142,2021-05-06 15:00:00,2021-05-05 15:15:00,1

In [59]:
for _, r in cleaned.iterrows():
    print(f"Sensor {r['sensor_name']} with identifier {r['sensor_identifier']} triggers an alert at {r['datetime_now']} with level {r['level']} with last data recorded at {r['last_record_datetime']}")
    print("")

Sensor sensor_3 with identifier 3 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2019-01-30 13:55:00

Sensor sensor_4 with identifier 4 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2019-01-30 14:00:00

Sensor sensor_9 with identifier 9 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_10 with identifier 10 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_142 with identifier 142 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_11 with identifier 11 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_11 with identifier 11 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_13 with identifier 13 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_14 with identifier 14 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_32 with identifier 32 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_13 with identifier 13 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_14 with identifier 14 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_162 with identifier 162 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

Sensor sensor_24 with identifier 24 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_28 with identifier 28 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 10:15:00

Sensor sensor_29 with identifier 29 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 11:15:00

Sensor sensor_59 with identifier 59 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 10:15:00

Sensor sensor_36 with identifier 36 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_37 with identifier 37 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_38 with identifier 38 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_44 with identifier 44 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 13:17:00

Sensor sensor_46 with identifier 46 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 12:17:00

Sensor sensor_71 with identifier 71 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

Sensor sensor_73 with identifier 73 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

Sensor sensor_172 with identifier 172 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

Sensor sensor_51 with identifier 51 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 00:00:00

Sensor sensor_53 with identifier 53 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 00:00:00

Sensor sensor_52 with identifier 52 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:16:00

Sensor sensor_54 with identifier 54 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 00:00:00

Sensor sensor_56 with identifier 56 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

Sensor sensor_57 with identifier 57 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 13:15:00

Sensor sensor_62 with identifier 62 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

Sensor sensor_58 with identifier 58 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 11:15:00

Sensor sensor_61 with identifier 61 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_69 with identifier 69 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2021-02-18 08:40:00

Sensor sensor_70 with identifier 70 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2021-02-18 08:40:00

Sensor sensor_74 with identifier 74 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2020-03-28 04:55:00

Sensor sensor_77 with identifier 77 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_78 with identifier 78 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2021-02-09 14:34:00

Sensor sensor_81 with identifier 81 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2019-08-19 09:45:00

Sensor sensor_84 with identifier 84 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 10:15:00

Sensor sensor_85 with identifier 85 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 09:15:00

Sensor sensor_120 with identifier 120 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 09:15:00

Sensor sensor_85 with identifier 85 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_86 with identifier 86 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_89 with identifier 89 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_118 with identifier 118 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 11:10:00

Sensor sensor_121 with identifier 121 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 09:25:00

Sensor sensor_86 with identifier 86 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_121 with identifier 121 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 11:10:00

Sensor sensor_87 with identifier 87 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2019-11-21 10:20:00

Sensor sensor_116 with identifier 116 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2019-11-21 10:20:00

Sensor sensor_87 with identifier 87 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2019-11-21 10:20:00

Sensor sensor_88 with identifier 88 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_90 with identifier 90 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_117 with identifier 117 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_119 with identifier 119 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 11:10:00

Sensor sensor_88 with identifier 88 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_90 with identifier 90 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_89 with identifier 89 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_118 with identifier 118 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 11:10:00

Sensor sensor_91 with identifier 91 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2020-01-15 13:15:00

Sensor sensor_92 with identifier 92 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_105 with identifier 105 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_97 with identifier 97 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 08:15:00

Sensor sensor_99 with identifier 99 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_104 with identifier 104 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_107 with identifier 107 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_108 with identifier 108 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2020-06-23 14:35:00

Sensor sensor_116 with identifier 116 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2019-11-21 10:20:00

Sensor sensor_117 with identifier 117 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_119 with identifier 119 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 11:10:00

Sensor sensor_120 with identifier 120 triggers an alert at 2021-05-06 15:00:00 with level 2 with last data recorded at 2021-05-05 09:45:00

Sensor sensor_122 with identifier 122 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 11:10:00

Sensor sensor_123 with identifier 123 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 11:10:00

Sensor sensor_125 with identifier 125 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 11:10:00

Sensor sensor_124 with identifier 124 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 11:10:00

Sensor sensor_126 with identifier 126 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-06 11:10:00

Sensor sensor_131 with identifier 131 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_132 with identifier 132 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_135 with identifier 135 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_140 with identifier 140 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_141 with identifier 141 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_144 with identifier 144 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2020-11-19 12:34:00

Sensor sensor_164 with identifier 164 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_168 with identifier 168 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_169 with identifier 169 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_152 with identifier 152 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_167 with identifier 167 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_153 with identifier 153 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_154 with identifier 154 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_166 with identifier 166 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_171 with identifier 171 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_173 with identifier 173 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

Sensor sensor_175 with identifier 175 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

Sensor sensor_176 with identifier 176 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_184 with identifier 184 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_185 with identifier 185 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_191 with identifier 191 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

Sensor sensor_196 with identifier 196 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_203 with identifier 203 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_206 with identifier 206 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

Sensor sensor_207 with identifier 207 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

Sensor sensor_208 with identifier 208 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2020-12-09 15:45:00

Sensor sensor_209 with identifier 209 triggers an alert at 2021-05-06 15:00:00 with level 3 with last data recorded at 2020-12-09 15:40:00

Sensor sensor_210 with identifier 210 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_212 with identifier 212 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:15:00

Sensor sensor_219 with identifier 219 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

Sensor sensor_220 with identifier 220 triggers an alert at 2021-05-06 15:00:00 with level 1 with last data recorded at 2021-05-05 15:17:00

In [60]:
# Check only
#alert["opening_datetime"].isnull().sum())
assert alert["opening_datetime"].isnull().sum() == 0
assert alert["closing_datetime"].isnull().sum() == 0

In [61]:
cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109 entries, 0 to 205
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   sensor_identifier     109 non-null    int64
 1   sensor_name           109 non-null    object
 2   datetime_now          109 non-null    datetime64[ns]
 3   last_record_datetime  109 non-null    datetime64[ns]
 4   level                 109 non-null    int64
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 5.1+ KB